<div class="example-login" *ngIf="!isLoggedIn">        
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class = "box ">
        <div class="mat-card-header-text">
            <mat-card-header class = "mat-card-header-display">
                <mat-card-title class="mat-card-title" >Pharma App</mat-card-title>
            </mat-card-header>
        </div>
        <mat-card-content class="mat-card-content-login" >
            <div >
                <form >
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Usuario</mat-label>
                            <input id="userName" name="userName" matInput [(ngModel)]="userName" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Contraseña</mat-label>
                            <input id="password" name="password" matInput type="password" [(ngModel)]="password" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <button class="btn-block-login" mat-raised-button color="primary" value="Iniciar Sesión" (click)="login()">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    </div>
</div>
