<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card>
  <div>
    <div fxLayout="row wrap">
      <div>
          <mat-card-title>Estadísticas</mat-card-title>
          <mat-card-subtitle>Resumen de estadísticas</mat-card-subtitle>
      </div>
    </div>
    <div fxLayout="row wrap">
      <mat-form-field class="full-width p-b-0">
          <mat-label>Seleccione una farmacia</mat-label>
          <mat-select (selectionChange)="getStatisticsFromBranch($event)">
              <mat-option *ngFor = "let branch of branches" [value] = "branch">
              {{branch.branchName}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="showGraphs" fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
              <mat-card-content>
                  <div class="d-flex flex-wrap">
                      <div>
                          <mat-card-title>Vista general de medicamentos más vistos</mat-card-title>
                          <mat-card-subtitle>Medicamentos más buscados en el presente mes</mat-card-subtitle>
                      </div>
                      <div class="ml-auto">
                          <ul class="list-inline">
                              <li>
                                  <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Medicamentos</h6> </li>

                          </ul>
                      </div>
                  </div>

                  <div class="barchrt" style="height:360px;">
                      <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                          [events]="barChart1.events"> </x-chartist>
                  </div>
              </mat-card-content>
          </mat-card>
      </div>
      <div *ngIf="showDonutChart" fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
              <mat-card-content>
                  <mat-card-title>Locales más visitados</mat-card-title>
                  <mat-card-subtitle>En base a los productos buscados en la aplicación</mat-card-subtitle>
                  <div class="piechart">
                      <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                          [events]="donuteChart1.events"> </x-chartist>
                  </div>
              </mat-card-content>
              <hr>
              <mat-card-content>
                  <ul class="list-inline text-center">
                      <li>
                          <h6 class="text-success m-0">
                              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>{{visitsBranchGraph.labels[0]}}</h6>
                      </li>
                      <li>
                          <h6 class=" text-info  m-0">
                              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>{{visitsBranchGraph.labels[1]}}</h6>
                      </li>
                      <li>
                          <h6 class=" text-purple  m-0">
                              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>{{visitsBranchGraph.labels[2]}}</h6>
                      </li>
                      <li>
                        <h6 class="text-muted  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>{{visitsBranchGraph.labels[3]}}</h6>
                    </li>
                  </ul>
              </mat-card-content>
          </mat-card>
      </div>
    </div>
      <!-- column -->
    </div>
      <!-- column -->
</mat-card>
