.pull-right {
  float: right;
  margin-right: 10px;
}

.buttons-footer {
  height: 45px;
}

.select-padding {
  padding-top: 1.55em !important;
}

.input-padding {
  padding-bottom: 5px;
}

.centerElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
